.Flex-Row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
}

.GamepageFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.MoveDot {
    border-radius: 10px;
    width: 10px;
    height: 10px;
    font-size: 7px;
    animation: grow 2s infinite;
    text-align: center;
    margin: auto;
    color: blue;
    cursor: pointer;
}

table {
    border-collapse: collapse !important;
    border: none !important;
    border-spacing: 0 !important;
    border-collapse: separate !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

tr {
    border: none !important;
}

th {
    min-width: 25px;
    height: 25px;
    border: thin solid black;
    margin: 0;
    padding: 0;
    cursor: crosshair;
}

.MissionCell {
    color: red;
    font-size: 12px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

.InfoSection {
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    background: lightgrey;
    padding: 2%;
}

.MissionTargetDiv {
    background: rgb(133, 136, 103);
    padding: 2%;
    border: 3px solid black;
    height: 50px;
}

#targetImage {
    height: 100%;
}

#missionTargetText:hover {}

#shipInCell {
    height: 23px;
    width: 23px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

#alertMessage {
    color: red;
}


@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}