.SideShip {
    width: 75px;
    height: 75px;
}

.SidelineShipInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 45px;
}

#sidelineShipInfo {
    width: 100px;
    margin-left: 5px;
}

.ShipContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#shipInfoImage {
    max-width: 10%;
    cursor: pointer;
}

#shipInfoImage:hover {
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);
}